/*=============================
  List-border
=============================*/

.list-border-y li 
  border-top: 1px solid

.list-border-y li:last-child 
  border-bottom: 1px solid



/*=============================
  List-border-black
=============================*/


.list-border-black li,
.list-border-black li:last-child
  border-color: rgba(0,0,0,0)


.list-border-black-10 li,
.list-border-black-10 li:last-child
  border-color: rgba(0,0,0,0.1)


.list-border-black-20 li,
.list-border-black-20 li:last-child
  border-color: rgba(0,0,0,0.2)


.list-border-black-30 li,
.list-border-black-30 li:last-child
  border-color: rgba(0,0,0,0.3)


.list-border-black-40 li,
.list-border-black-40 li:last-child
  border-color: rgba(0,0,0,0.4)  


.list-border-black-50 li,
.list-border-black-50 li:last-child
  border-color: rgba(0,0,0,0.5)  


.list-border-black-60 li,
.list-border-black-60 li:last-child
  border-color: rgba(0,0,0,0.6)  


.list-border-black-70 li,
.list-border-black-70 li:last-child
  border-color: rgba(0,0,0,0.7)  


.list-border-black-80 li,
.list-border-black-80 li:last-child
  border-color: rgba(0,0,0,0.8)




/*=============================
  List-border-white
=============================*/


.list-border-white li,
.list-border-white li:last-child
  border-color: rgba(255,255,255,0)


.list-border-white-10 li,
.list-border-white-10 li:last-child
  border-color: rgba(255,255,255,0.1)


.list-border-white-20 li,
.list-border-white-20 li:last-child
  border-color: rgba(255,255,255,0.2)


.list-border-white-30 li,
.list-border-white-30 li:last-child
  border-color: rgba(255,255,255,0.3)


.list-border-white-40 li,
.list-border-white-40 li:last-child
  border-color: rgba(255,255,255,0.4)  


.list-border-white-50 li,
.list-border-white-50 li:last-child
  border-color: rgba(255,255,255,0.5)  


.list-border-white-60 li,
.list-border-white-60 li:last-child
  border-color: rgba(255,255,255,0.6)  


.list-border-white-70 li,
.list-border-white-70 li:last-child
  border-color: rgba(255,255,255,0.7)  


.list-border-white-80 li,
.list-border-white-80 li:last-child
  border-color: rgba(255,255,255,0.8)          


.list-border-white-90 li,
.list-border-white-90 li:last-child
  border-color: rgba(255,255,255,0.9) 