/*=============================
  Text-white
=============================*/

.text-white-10 
  color: rgba(255,255,255,0.1)

.text-white-20 
  color: rgba(255,255,255,0.2)

.text-white-30 
  color: rgba(255,255,255,0.3)

.text-white-40 
  color: rgba(255,255,255,0.4)

.text-white-50 
  color: rgba(255,255,255,0.5)

.text-white-60 
  color: rgba(255,255,255,0.6)

.text-white-70 
  color: rgba(255,255,255,0.7)

.text-white-80 
  color: rgba(255,255,255,0.8)

.text-white-90 
  color: rgba(0,0,0,0.9)


/*=============================
  Text-black
=============================*/


.text-black-10 
  color: rgba(0,0,0,0.1)

.text-black-20 
  color: rgba(0,0,0,0.2)

.text-black-30 
  color: rgba(0,0,0,0.3)

.text-black-40 
  color: rgba(0,0,0,0.4)

.text-black-50 
  color: rgba(0,0,0,0.5)

.text-black-60 
  color: rgba(0,0,0,0.6)

.text-black-70 
  color: rgba(0,0,0,0.7)

.text-black-80 
  color: rgba(0,0,0,0.8)

.text-black-90 
  color: rgba(0,0,0,0.9)

